@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:ital,wght@1,300&display=swap');
/*Mobile First*/

.container {
    display: grid;
    background-color: #e0e0e0;
    padding-left: 15vw;
    height: 100vh;
    align-content: center;
    grid-template-areas: "contact map";
}

.con {
    
}

.text {

}

.text h2 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 2vh;
    color: black;
}
.text p {
    font-family: 'Ubuntu', sans-serif;
    width: 70vw;
    color: black;
}

.form {
    margin-top: 2vh;
}

.name{
    height: 5vh;
    width: 34.5vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
    text-align: center;
    border: none;
    background-color: black;
}

.email {
    height: 5vh;
    width: 34.5vw;
    text-align: center;
    border: none;
    background-color: black;
}

.subject {
    height: 5vh;
    width: 70vw;
    margin-bottom: 2vh;
    text-align: center;
    border: none;
    background-color: black;
}

.message{
    padding: 0;
    
    height: 10vh;
    width: 70vw;
    border: none;
    background-color: black;
}

.map{
    grid-area: map;
    
    padding-left: 8vw;
    padding-top: 1vh;
    height: 0vh;
    width: 20vw;
    overflow-y: hidden;
    visibility:collapse;
    
}

.mapiboxi{
    
}

@media(min-width: 576px) {
    /* Tablet */
    
    .container {
        display: grid;
        background-color: #e0e0e0;
        padding-left: 0vw;
        height: 100vh;
        align-content: center;
        justify-content: center;
        grid-template-areas: 
        "contact"
        "map"
        ;
    }

    .con {
        grid-area: contact;
        margin-top: 0vh;
        
        
    }

    .text {

    }

    .text h2 {
        font-family: 'Press Start 2P', cursive;
        margin-bottom: 2vh;
        color: black;
    }
    .text p {
        font-family: 'Ubuntu', sans-serif;
        width: 70vw;
        color: black;
    }

    .form {
        margin-top: 2vh;
    }

    .name{
        height: 5vh;
        width: 34.5vw;
        margin-right: 1vw;
        margin-bottom: 2vh;
        text-align: center;
        border: none;
        background-color: black;
    }

    .email {
        height: 5vh;
        width: 34.5vw;
        text-align: center;
        border: none;
        background-color: black;
    }

    .subject {
        height: 5vh;
        width: 70vw;
        margin-bottom: 2vh;
        text-align: center;
        border: none;
        background-color: black;
    }

    .message{
        padding: 0;
        
        height: 10vh;
        width: 70vw;
        border: none;
        background-color: black;
    }

    .map{
        grid-area: map;
        
        padding-left: 8vw;
        padding-top: 1vh;
        height: 0vh;
        width: 20vw;
        overflow-y: hidden;
        visibility:collapse;
        
    }

    .mapiboxi{
        
    }

}

@media (min-width: 1199.98px) {
    /*Desktop*/
    .container {
        display: grid;
        background-color: #e0e0e0;
        padding-left: 15vw;
        height: 100vh;
        align-content: center;
        justify-content: left;
        grid-template-areas: "contact map";
        
    }

    .con {
        grid-area: contact;
        margin-top: 33vh;
    }

    .text {

    }

    .text h2 {
        font-family: 'Press Start 2P', cursive;
        margin-bottom: 2vh;
        color: black;
    }
    .text p {
        font-family: 'Ubuntu', sans-serif;
        width: 30vw;
        color: black;
    }

    .form {
        margin-top: 2vh;
    }

    .name{
        height: 5vh;
        width: 14.5vw;
        margin-right: 1vw;
        margin-bottom: 2vh;
        text-align: center;
        border: none;
        background-color: black;
    }

    .email {
        height: 5vh;
        width: 14.5vw;
        text-align: center;
        border: none;
        background-color: black;
    }

    .subject {
        height: 5vh;
        width: 30vw;
        margin-bottom: 2vh;
        text-align: center;
        border: none;
        background-color: black;
    }

    .message{
        padding: 0;
        height: 10vh;
        width: 30vw;
        border: none;
        background-color: black;
    }

    .map{
        grid-area: map;
        display: grid;
        padding-left: 15vw;
        padding-top: 1vh;
        height: 100vh;
        width: 40vw;
        visibility:visible;
        overflow-y: visible;
    }

    /*.mimg{
        height: 90vh;
        width: 50vw;
    }*/

    .mapiboxi{
    }

}