@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:ital,wght@1,300&display=swap');
/*Mobile First*/

@media(min-width: 576px) {
    /* Tablet */

}

@media (min-width: 1199.98px) {
    /*Desktop*/
    .container {
        background-color: gray;
        padding-left: 150px;
        height: 100vh;
        justify-content: center;
        align-content: center;
        display: grid;
    }

    .container h2 {
        font-family: 'Press Start 2P', cursive;
    }
}