/*Mobile First*/

@media(min-width: 576px) {
    /* Tablet */

}

@media (min-width: 1199.98px) {
    /*Desktop*/
    .container {
        background-color: gray;
        padding-left: 150px;
        height: 100vh;
    }
}