@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:ital,wght@1,300&display=swap');
/*Mobile First*/

@media(min-width: 576px) {
    /* Tablet */

}

@media (min-width: 1199.98px) {
    /*Desktop*/
    .container {
      background-color: rgb(44, 44, 44);
    }
    
    .aside {
      height: 100vh;
      background-color: black;
      width: 150px;
      position: fixed;
      text-align: center;
      justify-content: center;
      display: inline-block;
    }

    .aside h3 {
      margin-top: 5vh;
      margin-bottom: 30vh;
      font-family: 'Press Start 2P', cursive;
      cursor: pointer;
    }

    .aside h3:hover{
      color: rgb(236, 249, 120);
      transition: all 0.3s ease-out;
    }

    .aside button {
      display: block;
     
      margin: 0px;
      width: 100%;
      padding: 10px 0 10px 0;
      margin-top: 2vh;
      font-family: 'Press Start 2P', cursive;
      text-decoration: none;
      background: none;
      border: none;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }

    .first:hover{
      background-color: rgb(253, 253, 253);
      color: black;
      transition: all 0.3s ease-out;
    }

    .second:hover{
      background-color: rgb(253, 253, 253);
      color: black;
      transition: all 0.3s ease-out;
    }

    .third:hover {
      background-color: rgb(253, 253, 253);
      color: black;
      transition: all 0.3s ease-out;
    }

    .four:hover {
      background-color: rgb(253, 253, 253);
      color: black;
      transition: all 0.3s ease-out;
    }

    .notcontainer{
      padding-left: 100px;
    }
}