/*Mobile First*/

@media(min-width: 576px) {
    /* Tablet */

}

@media (min-width: 1199.98px) {
    /*Desktop*/
    .container {
        background-color: yellow;
        padding-left: 150px;
        height: 100vh;
        display: grid;
        grid-template-areas: 
        "u d t"
        "c ci s"
        ;
    }

    .uno{
        grid-area: u;
    }

    .dos{
        grid-area: d;
    }

    .tres{
        grid-area: t;
    }

    .cuatro{
        grid-area: c;
    }

    .cinco{
        grid-area: ci;
    }

    .seis{
        grid-area: s;
    }
}